In [1]:
import pandas as pd
import numpy as np

In [2]:
import src.utils as utils

In [3]:
train = pd.read_csv("./data/train.csv", sep=";")
test = pd.read_csv("./data/test.csv", sep=";")

In [4]:
train.shape

(2186, 785)

In [5]:
train

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2182,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2183,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2184,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2185,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
pixels = train.iloc[:, 1:].values
label = train.iloc[:, 0].values

In [7]:
sim = utils.simetry(pixels)
intens = utils.intensity(pixels)

In [8]:
train["intensidade"] = intens
train["simetria"] = sim

In [9]:
train[["label", "intensidade", "simetria"]]

      label  intensidade    simetria
0         0   145.435294  143.713725
1         0   118.576471  133.219608
2         0   127.600000  129.521569
3         0   138.047059  147.000000
4         0   146.215686  119.254902
...     ...          ...         ...
2181      5   105.686275  129.129412
2182      5   113.050980  114.219608
2183      5   110.725490  127.615686
2184      5    99.305882  126.443137
2185      5   101.172549  135.396078

[2186 rows x 3 columns]

In [10]:
train[["label", "intensidade", "simetria"]].to_csv("./data/train_redu.csv", index=False)

In [11]:
pixels = test.iloc[:, 1:].values
sim = utils.simetry(pixels)
intens = utils.intensity(pixels)

In [12]:
test["intensidade"] = intens
test["simetria"] = sim

In [13]:
test[["label", "intensidade", "simetria"]]

      label  intensidade    simetria
0         0   147.933333  127.631373
1         0   131.054902  120.003922
2         0   134.890196  148.149020
3         0   139.976471  130.560784
4         0   129.580392  128.592157
...     ...          ...         ...
1110      5    96.121569  134.596078
1111      5    98.439216  124.384314
1112      5    95.141176  116.956863
1113      5   106.882353  122.333333
1114      5   117.639216  116.243137

[1115 rows x 3 columns]

In [14]:
test[["label", "intensidade", "simetria"]].to_csv("./data/test_redu.csv", index=False)